server:
  port: 8880

app:
  kafka:
    enabled: false

spring:
  application:
    name: gateway-service
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
        namespace: edf92667-4c88-4679-83d8-7307ca2a03e6
    gateway:
      default-filters:
        - AddRequestHeader=X-Request-Id, #{T(java.util.UUID).randomUUID().toString()}
      server:
        webflux:
          routes:
            - id: iam-service
              uri: lb://iam-service
              predicates:
                - Path=/api/**
management:
  endpoints:
    web:
      exposure:
        include: health
