spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.kafka.KafkaAutoConfiguration

app:
  kafka:
    enabled: false

management:
  health:
    kafka:
      enabled: false
