server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    gateway:
      default-filters:
        - AddRequestHeader=X-Request-Id, #{T(java.util.UUID).randomUUID().toString()}
      routes:
        - id: iam-service
          uri: lb://iam-service
          predicates:
            - Path=/api/**
management:
  endpoints:
    web:
      exposure:
        include: health
